[Unit]
Description=Sensirion SCD30 CO2/Humidity/Temperature sensor
After=pigpiod.service
Requires=pigpiod.service

[Service]
User=root
Restart=always
ExecStart=/usr/local/bin/scd30-service.py

[Install]
WantedBy=multi-user.target
